.footer {
    background: #303036;
    color: #d3d3d3;
    width: 100%;
    margin-top: auto;
}

.links {
    display: table;
    margin: 0 auto;
}

ul#horizontal-list {
    min-width: 900px;
    list-style: none;
    padding-top: 30px;
}

ul#horizontal-list li {
    margin-top: 5px;
}

html {
    height: 100%;
}

body {
    min-height: 100%;

    display: flex;
    flex-direction: column;
}

/*When Screen is bigger than 900PX, change footer nav list to horizontal*/
@media only screen and (min-width: 900px) {
    ul#horizontal-list {
        min-width: 500px;
        list-style: none;
        padding-top: 20px;
    }

    ul#horizontal-list li {
        margin: 20px;
        display: inline;

    }
}
