/* Author: Simon St-Andre
   This css is to show the back of the pet hall of fame cards
   It will animate the card so on hover it shows the necessary pet information
*/

.card:hover .card-inner {
    transform: rotateY(180deg);
}

.card-inner {
    position: relative;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.card-front, .card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}

.card-back {
    background-color: dodgerblue;
    color: white;
    transform: rotateY(180deg);
}
